include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/keycloak *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/keycloak/migration *.ini *.py *.mako
